.input-form-error {
  display: none;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormInput {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: flex-start;
  width: 60%;
}
.FormInput input {
  width: 350px;
  height: 40px;
  margin: 5px 0 10px;
}

.input-form-field {
  display: flex;
}

.form-wrapper {
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 30px;
}
.toggle-btn {
  width: 150px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  font-size: 18px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  background-color: #8150c5;
  color: #fff;
}
.toggle-btn:hover {
  color: #8150c5;
  background-color: #fff;
}

.white-content .toggle-btn {
  background-color: #8150c5;
  color: #fff;
}
.white-content .toggle-btn:hover {
  background-color: #151515;
  color: #8150c5;
}

.form-input {
  width: 600px;
  display: flex;
  margin: 40px auto 0;
  align-items: center;
  justify-content: space-between;
}
.form-input-field {
  width: 350px;
  height: 40px;
  margin: 10px 0;
  font-size: 20px;
}
label {
  font-size: 20px;
  width: 200px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-btn {
  width: 100px;
  border: 0;
  border-radius: 6px;
  margin: 0 0 6px 6px;
  font-size: 18px;
  cursor: pointer;
  height: 25px;
  font-weight: 500;
  transition: all ease-in-out 200ms;
}

.white-content .form-btn {
  background-color: #8150c5;
  color: #fff;
}
.dark-content .form-btn {
  color: #8150c5;
  background-color: #fff;
}
.white-content .form-btn:disabled:hover {
  background-color: rgba(61, 61, 61, 0.5);
  color: #fff;
}
.white-content .form-btn:hover {
  background-color: #8150c5;
  color: #fff;
}
.form-btn:disabled {
  background-color: rgba(61, 61, 61, 0.5);
}
.navigation-btn {
}
.submit-btn {
  width: 206px;
}

.dark-content {
  background-color: #151515;
  color: #ebebef;
}

.white-content {
  background-color: #ebebef;
  color: #151515;
}
